<app-tests-charts class="example-accordion"></app-tests-charts>

<!--<cdk-accordion class="example-accordion">-->
<!--  <div *ngFor="let test of tests">-->
<!--    <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item"-->
<!--                        (click)="accordionClick(accordionItem.expanded, test)">-->
<!--      <button-->
<!--        class="example-accordion-item-header"-->
<!--        (click)="accordionItem.toggle()"-->
<!--        tabindex="0"-->
<!--      >-->
<!--        <mat-card>-->
<!--          <mat-card-content>-->
<!--            <section>-->
<!--              <mat-card-title>-->
<!--                Datetime: {{ test.dateStarted }} - {{ test.timeStarted }}-->
<!--              </mat-card-title>-->
<!--              <div [hidden]="accordionItem.expanded">-->
<!--                <mat-card-subtitle class="category-name">-->
<!--                  Category name: "{{ test.categoryName }}"-->
<!--                </mat-card-subtitle>-->
<!--                <mat-card-subtitle class="correct-answer-text">-->
<!--                  Count correct answer: {{ getPercent(test) }} %-->
<!--                </mat-card-subtitle>-->
<!--                </div>-->
<!--            </section>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--        <span class="example-accordion-item-description">-->
<!--        Click to {{ accordionItem.expanded ? 'close' : 'open' }}-->
<!--      </span>-->
<!--      </button>-->

<!--      @if (accordionItem.expanded) {-->

<!--        <div-->
<!--          class="example-accordion-item-body"-->
<!--          role="region"-->
<!--          [style.display]="accordionItem.expanded ? '' : 'none'"-->
<!--        >-->
<!--          <div *ngIf="test.testQuestionCount!=test.correctAnswersCount">-->
<!--            <button mat-raised-button (click)="CreateTest(test.testId)">Create test: "Work on mistakes"</button>-->
<!--          </div>-->

<!--          <div *ngFor="let item of testDetails">-->
<!--            <div *ngIf="item.isCorrectAnswer; then thenBlock else elseBlock"></div>-->
<!--            <ng-template #thenBlock>-->
<!--              <mat-card class="correct-answer">-->
<!--                <mat-card-title>-->
<!--                  Question: {{ item.question }}-->
<!--                </mat-card-title>-->
<!--                <mat-card-subtitle>-->
<!--                  Correct answer: {{ item.correctAnswerTitle }}-->
<!--                </mat-card-subtitle>-->
<!--              </mat-card>-->
<!--            </ng-template>-->
<!--            <ng-template #elseBlock>-->
<!--              <mat-card class="incorrect-answer">-->
<!--                <mat-card-title class="category-name">-->
<!--                  Question: {{ item.question }}-->
<!--                </mat-card-title>-->
<!--                <mat-card-subtitle class="incorrect-answer-text">-->
<!--                  Your answer: "{{ item.incorrectAnswerTitle }}"-->
<!--                </mat-card-subtitle>-->
<!--                <mat-card-subtitle>-->
<!--                  <button mat-raised-button (click)="Goto(item.proof)">Correct answer</button>-->
<!--                </mat-card-subtitle>-->
<!--              </mat-card>-->
<!--            </ng-template>-->
<!--          </div>-->
<!--        </div>-->
<!--      }-->
<!--    </cdk-accordion-item>-->

<!--  </div>-->
<!--</cdk-accordion>-->
