<div class="main-div">
    <mat-card>
        <mat-card-title>Reset password</mat-card-title>
        <mat-card-content>
            <form class="add-category" [formGroup]="resetPasswordForm">
                <input type="hidden" value="userId" [formControl]="resetPasswordForm.controls.userId">
                <input type="hidden" value="token" [formControl]="resetPasswordForm.controls.token">
                <table>
                    <tr>
                        <td width="95%">
                            <mat-form-field class="full-width">
                                <mat-label>Password</mat-label>
                                <input [type]="hide ? 'password' : 'text'"  matInput [formControl]="resetPasswordForm.controls.newPassword"
                                    placeholder="password">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off'
                                    :'visibility'}}</mat-icon>
                                <mat-hint *ngIf="passwordInputRegister" ngClass="hint-error">Enter password</mat-hint>
                            </mat-form-field>
                        </td>
                        <td width="5%">
                            <div *ngIf="ValidatePassword()">
                                <img src="ok.png" height="32" width="32" />
                            </div>
                            <div *ngIf="!ValidatePassword()">
                                <img src="error.png" height="32" width="32" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="95%">
                            <mat-form-field class="full-width">
                                <mat-label>Confirm password</mat-label>
                                <input [type]="hide ? 'password' : 'text'"  matInput
                                    [formControl]="resetPasswordForm.controls.confirmPassword"
                                    placeholder="confirm password">
                                <mat-hint *ngIf="confirmPasswordInputRegister" ngClass="hint-error">Enter confirm
                                    password</mat-hint>
                            </mat-form-field>
                        </td>
                        <td width="5%">
                            <div *ngIf="ValidatePassword()">
                                <img src="ok.png" height="32" width="32" />
                            </div>
                            <div *ngIf="!ValidatePassword()">
                                <img src="error.png" height="32" width="32" />
                            </div>
                        </td>
                    </tr>
                </table>
                <div *ngIf="resetPasswordSucceeded">
                    <h4 style="color: lightgreen">Reset password succeeded</h4>
                    <div>
                        Reset password succeeded. <a href="login">Login</a> to continue.
                    </div>
                </div>
                <div class="row m-3" *ngIf="resetPasswordFailed">
                    <label style="color: red">Reset password failed.</label>
                    <div class="row m-3" *ngFor="let error of errors">
                        <label style="color: red">{{error}}</label>
                    </div>
                </div>

                <button mat-raised-button [disabled]="!(this.ValidatePassword())" (click)="ResetPassword()">Reset
                    password</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>