<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Детали</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <app-header-hierarchy-of-categories [categoryId]="categoryId"
                                        [isMatCard]="false"></app-header-hierarchy-of-categories>
    <mat-divider></mat-divider>
    <div class="main-div">
      <ng-container [ngSwitch]="typeTestId">
        <ng-container *ngSwitchCase="'2c4286c2-a0f5-4a72-861c-12829546981b'">
          <app-study-task-details-listening
            [audioSource]="audioSource"
            [type_task_title]="'Тип задания'"
            [type_task_value]="'Аудирование (изучение)'"
            [task_value]="'Послушай и найди правильный перевод'"
            [question_title]="'Вопрос'"
            [question_value]="question"
          ></app-study-task-details-listening>
        </ng-container>
        <ng-container *ngSwitchCase="'dbf39bef-b195-48c8-b328-d1087e085e18'">
          <app-study-task-details-reading
            [type_task_title]="'Тип задания'"
            [type_task_value]="'Чтение (изучение)'"
            [task_value]="'Прочти и найди правильный перевод'"
            [question_title]="'Вопрос'"
            [question_value]="question"
          ></app-study-task-details-reading>
        </ng-container>
        <ng-container *ngSwitchCase="'80907d2b-8387-4d4d-b7d6-1bc7d617d1bb'">
          <app-study-task-details-speaking-easy-level
            [type_task_title]="'Тип задания'"
            [type_task_value]="'Говорение (изучение на легкий уровень сложности)'"
            [task_value]="'Прослушай, прочти, переведи и произнеси правильно'"
            [question_title]="'Вопрос'"
            [question_value]="question"
          ></app-study-task-details-speaking-easy-level>
        </ng-container>
        <ng-container *ngSwitchCase="'1928f7d7-225f-4c32-b3f8-4786dc3dffee'">
          <app-study-task-details-speaking-medium-level
            [type_task_title]="'Тип задания'"
            [type_task_value]="'Говорение (изучение на среднем уровне сложности)'"
            [task_value]="'Прочти, переведи и произнеси правильно'"
            [question_title]="'Вопрос'"
            [question_value]="question"
          ></app-study-task-details-speaking-medium-level>
        </ng-container>
        <ng-container *ngSwitchCase="'930c9e4a-60cc-462a-9b4a-0f2e6b263932'">
          <app-study-task-details-speaking-difficult-level
            [type_task_title]="'Тип задания'"
            [type_task_value]="'Говорение (изучение на максимальном уровне сложности)'"
            [task_value]="'Переведи и произнеси правильно'"
            [question_title]="'Вопрос'"
            [question_value]="question"
          ></app-study-task-details-speaking-difficult-level>
        </ng-container>
      </ng-container>
    </div>
  </mat-expansion-panel>
</mat-accordion>
